body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.link_wrapper {
    position: relative;
    display: inline-block;
}

.btn-custom {
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #FC6736;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #FC6736;
    transition: all .35s;
    border: none;
    cursor: pointer;
    border-radius: 12px; /* Menambah sedikit lengkungan di sudut tombol */
}

.icon {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

.icon svg {
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #FC6736;
    transition: all .35s;
}

.btn-custom:hover {
    width: 200px;
    border: 3px solid #FC6736;
    background: transparent;
    color: #FC6736;
}

.btn-custom:hover + .icon {
    border: 3px solid #FC6736;
    right: -25%;
}
