.profile-image {
    text-align: center;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.btn-upload {
    padding: 10px 20px;
    border: none;
    background-color: #FC6736;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.email {
    text-align: center;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    justify-content: space-between;
}

.profile-left {
    width: 30%;
}

.profile-right {
    width: 65%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.buttons button:last-child {
    margin-right: 0;
}

.bn632-hover {
    width: 160px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn20 {
    background-image: linear-gradient(
      to right,
      #FC6736,
      #f4541f,
      #db7756,
      #fc825a
    );
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  }