.textbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Mengatur tinggi container agar sesuai dengan tinggi layar */
}

.textbox-wrapper {
  max-width: 400px; /* Atur lebar maksimum untuk textbox */
  width: 100%; /* Setiap textbox mengisi lebar container */
}
